@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --dark: #21897E;
    --medium: #3BA99C;
    --light: #69D1C5;
    --blue: #7EBCE6;
    --pink: #e67ece;
    --white: #fcfffc;
    --purple: #8980F5;
    --orange: #f59780;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
}

/* Button */
.button {
    width: 170px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 25px;
    font-weight: 525;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    transform: scale(.95);
    opacity: .9;
}

.button-danger {
    background-color: var(--orange);
    color: var(--white);
}

.button-transparent {
    background: transparent;
    border: solid 1.5px var(--white);
    color: var(--white);
}

/* Header */

header {
    background-color: var(--light);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    margin-left: 10px;
}

.logo {
    color: var(--purple);
}

.left,
.right {
    margin: 25px 175px;
}

header .left a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .right ul {
    list-style: none;
}

header .right ul {
    display: flex;
}

header .right ul a {
    font-size: 125%;
}

header ul li:not(:first-child) {
    margin-left: 25px;
}

header ul li {
    transition: all .2s ease-in-out;
}

header ul li:hover {
    transform: scale(1.1);
    opacity: .75;
}

/* Hero */
.hero {
    background-color: var(--light);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left {
    margin: 35px auto;
    margin-left: 175px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 17.5px;
}

.hero-left p {
    font-size: 20px;
}

.hero-left h1 {
    font-size: 40px;
}

.hero-left button {
    transition: all .2s ease-in-out;
}

.hero-right {
    margin: 35px auto;
    margin-right: 175px;
    margin-left: 25px;
}

#hero-img {
    width: 600px;
    border-radius: 15px;
}

/* Showcase */

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 75px 200px;
    color: var(--light);
}

.showcase-title {
    padding-bottom: 45px;
    font-size: 225%;
}

.showcase-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.card {
    display: flex;
    font-size: 125%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
}

.card-img,
.card-title {
    margin-bottom: 10px;
}

/*quotes*/
.quotes {
    background: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 45px 200px;
}

.quotes-main {
    font-size: 250%;
    font-weight: 50;
    display: flex;
    justify-content: flex-start;
}

.quotes-from {
    font-size: 150%;
    font-weight: 50;
    display: flex;
    justify-content: flex-end;
}

.container {
    margin-left: 350px;
    max-width: 1110px;
}

.redeem {
    background: var(--light);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.redeem h1 {
    margin-bottom: 15px;
}

.redeem-card {
    margin-top: 65px;
    margin-bottom: 65px;
}

.redeem-card {
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 45px 150px;
    border-radius: 15px;
    padding-top: 50px;
}
