@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --main: #21897E;
    --secondary: #3BA99C;
    --light: #69D1C5;
    --blue: #7EBCE6;
    --purple: #8980F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--secondary);
    color: var(--blue);
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.left,
.right {
    margin: auto 125px;
}
